body {
    word-wrap: break-word;
    line-height: 24px;
    padding:0px;
    margin:0px;
    font-size: 12px;
}

b, strong {
 /*   font-family: LexiaBold, Times, "Times New Roman", serif;*/
    /*font-weight: bold;*/
}

.font-weight-bold{
    font-family: LexiaBold, Times, "Times New Roman", serif;
    font-weight: bold;
}

em {
    font-family: LexiaLightItalic, Times, "Times New Roman", serif;
    font-style: normal;
}

a {
    color: #3c4242;
    cursor: pointer;
}

.navbar-toggle .icon-bar {
    border: 1px solid #ccc;
}

section {
   /* margin-bottom: 10px; */
    padding: 10px;
}
h4, .h4{
    font-size: 16px;
}

.width-0{
    width: 0 !important;
}

.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding:0;
}

.tool-tip-icon{
    vertical-align: top;
    line-height: .75;
    display: inline-block;
}

.linked-list .tool-tip-icon{
    vertical-align:middle;
}

.full-width{
    margin-bottom:0px;
    width:100%;
}


.padding-0 {
    padding:0px;
}

.margin-0{
    margin:0px;
}

.border-top-0{
   border-top: 0; 
}

.border-left-0{
   border-left: 0; 
}

.border-right-0{
   border-right: 0; 
}

.border-bottom-0{
   border-bottom: 0; 
}

.border-0{
    border:none;
}

/* BEGIN Margin */
.margin-top-0 {
    margin-top: 0;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-left-0 {
    margin-left: 0;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-40 {
    margin-left: 40px;
}
/* END Margin */

/* BEGIN Padding */
.padding-10{
    padding: 10px;
}
.padding-5{
    padding: 5px;
}

.padding-15{
    padding: 15px;
}
.padding-top-0 {
    padding-top: 0;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-bottom-0 {
    padding-bottom: 0;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-vertical-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.padding-vertical-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-vertical-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-vertical-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-vertical-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-horizontal-0 {
    padding-right: 0;
    padding-left: 0;
}

.padding-horizontal-5 {
    padding-right: 5px;
    padding-left: 5px;
}

.padding-horizontal-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.padding-horizontal-15 {
    padding-right: 15px;
    padding-left: 15px;
}

.padding-horizontal-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.padding-horizontal-2{
    padding-right: 2px;
    padding-left: 2px;
}
@media (min-width: 1200px) {
    .lg-padding-top-0 {
        padding-top: 0 !important;
    }
    .lg-padding-right-0 {
        padding-right: 0 !important;
    }
    .lg-padding-bottom-0 {
        padding-bottom: 0 !important;
    }
    .lg-padding-left-0 {
        padding-left: 0 !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .md-padding-top-0 {
        padding-top: 0 !important;
    }
    .md-padding-right-0 {
        padding-right: 0 !important;
    }
    .md-padding-bottom-0 {
        padding-bottom: 0 !important;
    }
    .md-padding-left-0 {
        padding-left: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .sm-padding-top-0 {
        padding-top: 0 !important;
    }
    .sm-padding-right-0 {
        padding-right: 0 !important;
    }
    .sm-padding-bottom-0 {
        padding-bottom: 0 !important;
    }
    .sm-padding-left-0 {
        padding-left: 0 !important;
    }
}

@media (max-width: 767px) {
    .xs-padding-top-0 {
        padding-top: 0 !important;
    }
    .xs-padding-right-0 {
        padding-right: 0 !important;
    }
    .xs-padding-bottom-0 {
        padding-bottom: 0 !important;
    }
    .xs-padding-left-0 {
        padding-left: 0 !important;
    }
}
/* END Padding */

.mrg-0{
    margin: 0;
}

.margin-bottom-0{
    margin-bottom: 0px;
}

.margin-top-0{
    margin-top: 0px;
}

.margin-top-20 {
    margin-top: 20px;
}

.pd-0{
    padding: 0;
}

.pd-tp-0{
    padding-top: 0;
}
.padding-top-50{
    padding-top:50px;
}
.pd-tp-bt-0{
     padding-top: 0;
     padding-bottom: 0;
}

.pd-lt-5{
    padding-left: 5px;
}

.pd-lt-rt-0{
    padding-left: 0;
    padding-right: 0;
}

ul{
    margin: 0;
    list-style-type : none;
}

.text-center{
    text-align:center;
}

.text-left{
    text-align:left;
}

.text-right{
    text-align:right;
}

strong em, strong i, em strong, i strong {
    font-family: LexiaBoldItalic, Times, "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
}


/* Dashboard Tiles widget start */

.card-section .thumbnail{
    margin-bottom: 0;
    border-radius: 0;
}

.card-widget{
    padding:0px;
}

.user-detail-section{
    padding: 20px;
}

.user-detail-section img{
    max-width:150px;
    
}

.label-description{
    margin-bottom: 0px;
}

.percentage-section, .card-tile{
    text-align: center;
}

.percentage-section span {
    font-size: 22px;
}
.box-shadow-all{
    box-shadow: 0 0 2px #000;
}

.box-shadow-all-white{
    box-shadow: 0 0 2px #fff;
}

.border-right-50{
    border-right: 1px solid rgba(204, 204, 204, .3);
}
/*
.card-container{
    box-shadow: 0 0 2px #000;
}

.card-tile-divider{
  position: relative;
}

.card-tile-divider::after {
  content:""; 
  background: black; 
  position: absolute; 
  bottom: 0; 
  top: 0; 
  height: 40%; 
  width: 1px;
}
*/
/* Dashboard Tiles widget End */

/* List section starts */


.list .line, .list.list-hover .line {
    border-bottom: 1px solid #ddd;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
}

.list .line:last-child{
    border-bottom: 0px;
}

.list.list-hover .line:hover, .list.list-hover .line.active {
    cursor: pointer;
    background: #f9f9f9;
}
#news-feed, #news-feed a{
    color:#172052;
}

#news-feed .list.list-hover .line:hover, #news-feed .list.list-hover .line.active {
    cursor: pointer;
    background: #bfbfd859;
}

.short-description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* List section ends */


/* Tab Component - starts */

.nav-pills {
    border-bottom: 2px solid #ddd;
    /*margin-bottom: 20px;*/
}


.nav-pills>li>a {
    font-family: LexiaBold,Times,"Times New Roman",serif;
    font-size: medium;
    color: #9FA9BA;
    border-radius: 0;
    border-bottom: 3px solid transparent;
    margin-bottom: -3px;
}

.nav-pills>li.active>a:hover, .nav-pills>li>a:hover {
    background: 0 0;
    border-bottom: 3px solid rgba(0, 57, 102, 1.00);
    text-decoration: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: 0 0;
    color:rgba(0, 57, 102, 1.00);
    font-weight: 700;
    border-bottom: 3px solid rgba(0, 57, 102, 1.00);
}

.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
    background: rgba(0, 57, 102, 1.00);
    border: 1px solid rgba(0, 57, 102, 1.00);
    color: #fff;
}
/* Tab Component - Ends */


/* Ratings Component Starts */

.label-default, .label.label-default:active, .label.label-default:focus, .label.label-default:visited {
    background: 0 0;
    color: #333;
    border: 1px solid #ccc;
}
.label.label-lg {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
.label, label {
    border-radius: 2px;
    margin-bottom: 5px;
    display: inline-block;
}
.label-default {
    background-color: #777;
}
.label.label-primary, .label.label-primary:active, .label.label-primary:focus, .label.label-primary:visited {   
    background: #d0006f;
    border: 1px solid #d0006f;
    color: #fff;
}
.margin-right-left-0{
    margin-left:0px;
    margin-right:0px;
}

.ratings-component .percentage-section span{
    font-size:18px;
}

@media (min-width: 769px) {
    .user-detail-section {
        padding-top: 80px;
    }
}

@media (max-width: 768px) {
    .fa-2x {
        font-size: 1.5em;
    }
    .ratings-component .percentage-section span {
        font-size: 12px;
    }
}


/* Ratings Component Ends */

/*accordion component - starts */
.collapse-panel-heading>span.fa {
    transform: rotate(0);
    transition: transform 250ms ease;
}

.collapse-panel-heading.collapsed:not(.fa-right)>span.fa {
    transform: rotate(180deg);
}


/* Branding */

.gold-theme{
    background:#F0AB00;
    color:#fff;
    /*color:rgba(240, 171, 0, 1.00);*/
}

.graphite-theme{
    background:#3C4242;
    color:#fff;
    /*color:rgba(62, 67, 67, 1.00);*/
}

.navy-theme{
    background:#003865;
    color:#fff;
    /*color:rgba(0, 57, 102, 1.00);*/
}

.light-blue-theme{
    background:#68D2DF;
    color:#fff;
    /*color:rgba(105, 210, 222, 1.00);*/
}


.purple-theme, .purple-theme a{
    background:#3C1053;
    color:#fff;
    /*color:rgba(62, 16, 85, 1.00);*/
}

.platinum-theme, .platinum-theme a{
    background:#9DB0AC;
    color:#fff;
    /*color:rgba(159, 176, 171, 1.00);*/
}

.magenta-theme, .magenta-theme a{
    color:#fff;
    background:#d0006f;
}


.fg-gold{
    color:rgba(240, 171, 0, 1.00);
}

.fg-graphite{
    color:rgba(62, 67, 67, 1.00);
}

.fg-navy{
    color:rgba(0, 57, 102, 1.00);
}

.fg-light-blue{
    color:rgba(105, 210, 222, 1.00);
}


.fg-purple{
    color:rgba(62, 16, 85, 1.00);
}

.fg-platinum{
    color:rgba(159, 176, 171, 1.00);
}


.fg-yellowgreen{
    color: yellowgreen;
}

.fg-yellow{
    color:yellow;
}

.fg-orange{
    color:orange;
}

.fg-aqua{
    color:aqua;
}

.fg-magenta{
    color:#d0006f;
}

.fg-color{
    color:#d0006f;
}

.bg-color{
    background:#d0006f;
}

.bg-theme1{
    background-color: #F2F5F8;
}

.bg-white{
    background-color: white;
}

.bg-gold{
    background-color:rgba(240, 171, 0, 1.00);
}

.bg-graphite{
    background-color:rgba(62, 67, 67, 1.00);
}

.bg-navy{
    background-color:rgba(0, 57, 102, 1.00);
}

.bg-light-blue{
    background-color:rgba(105, 210, 222, 1.00);
}


.bg-purple{
    background-color:rgba(62, 16, 85, 1.00);
}

.bg-platinum{
    background-color:rgba(159, 176, 171, 1.00);
}


.bg-yellowgreen{
    background-color: yellowgreen;
}

.bg-yellow{
    background-color:yellow;
}

.bg-orange{
    background-color:orange;
}

.bg-aqua{
    background-color:aqua;
}

.bg-magenta{
    background-color:#d0006f;
}

/* colour theme ends */
.kpi-section{
    /* height:24%; */
}

.myinsight-section{
    max-height:74%;
    overflow:hidden;
}

.section-title{
    color:rgb(51, 51, 51);
}

.action-link{
    font-size: 16px;
    font-weight: 500;
}
.console-button{
    top: 55px;
    position: fixed;
    display: block!important;
    margin-top: 0px;
    z-index: 10;
    cursor: pointer;
    border: 2px solid #ccc;
    right: 30px;
}

.action-link{
    text-decoration: underline;
    cursor:pointer;
}

.ab-pos-center {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    width: 100%;
}

.card-container .back-button{
    display:none;
}