.default-theme{
     color: #3e3e3c;
}
.default-theme .card-view {
    background-color: white;
    border: 1px solid #E6EAEE;
    color: #354052;
    padding: 0px;
    border-radius: 5px;
}

.card-view {
    background-color: #ffffff;
    border: 3px solid #dbddec;
    border-radius: 5px;
/*    display: -ms-flexbox;
    display: flex;*/
    padding: 10px;
/*    margin-bottom: 15px;*/
    width: 100%;
}

.card-title{
    padding: 15px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    color: #9FA9BA;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1.2px;
    
}
.card-title .main-title{
    font-size:15px;
}

 .card-title .sub-title{
    padding-top: 3px;
}

.page-title{
    line-height: 1.2;
    font-weight: 500;
}

.container-height{
    height: 60vh;
    overflow-y: auto;
    overflow-x:hidden;
}
.kpi-container {
    min-height: 20vh;
}

.relationship-chart{
    min-width:550px;
    width: 90%;
    height: 400px;
    border: 1px solid lightgray;
    margin:0 auto;
}

.news-feed-container {
    height:94vh;
    right:0;
    bottom:0;
    top:5vh;
    border-radius: 4px;
}

.fixed-container{
    position: fixed;
    z-index: 1400;
    background: rgba(0, 19, 29, 0.9);
    webkit-box-shadow: 9px 9px 0px rgba(50, 50, 50, 0.31);
    -moz-box-shadow: 9px 9px 0px rgba(50, 50, 50, 0.31);
    box-shadow: 0px 4px 4px rgba(50, 50, 50, 0.9);
    color: #fff;
}

.fixed-top-cotainer{
    top:0;
    width:100%;
}

.fixed-container .fg-navy,.fixed-container a.fg-navy{
    color: rgba(0, 57, 102, 1.00);
}
.fixed-container a{
    color:#fff;
}
.news-feed-container.max-height-80vh {
    width:30vw;
}

.card-view .detail-section, .card-view .detail-view-title {
    display:none;
}

.card-view .list-section, .card-view .list-view-title  {
    display:block;
}

.card-view.show-detail .detail-section, .card-view.show-detail .detail-view-title {
    display:block;
}

.card-view.show-detail .list-section, .card-view.show-detail .list-view-title {
    display:none;
}