.default-theme{
     color: #3e3e3c;
}
.default-theme .card-view {
    background-color: white;
    border: 1px solid #E6EAEE;
    color: #354052;
    padding: 0px;
    border-radius: 5px;
}

.card-view {
    background-color: #ffffff;
    border: 3px solid #dbddec;
    border-radius: 5px;
/*    display: -ms-flexbox;
    display: flex;*/
    padding: 10px;
/*    margin-bottom: 15px;*/
    width: 100%;
}

.card-title{
    padding: 15px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.2);
    color: #9FA9BA;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1.2px;
    
}
.card-title .main-title{
    font-size:15px;
}

 .card-title .sub-title{
    padding-top: 3px;
}

.page-title{
    line-height: 1.2;
    font-weight: 500;
}

.container-height{
    max-height: 58vh;
    overflow-y: auto;
    overflow-x:hidden;
    min-height: 40vh;
}
.kpi-container {
    min-height: 20vh;
}

.relationship-chart{
    min-width:550px;
    width: 90%;
    height: 400px;
    border: 1px solid lightgray;
    margin:0 auto;
}