<div class="tab-content">
    <% _.each(result,function(hcp, index) { %>    
        <div class="tab-pane fade <%= index == 1 ? 'in active': ''%>" id="user-<%= hcp.id %>">

            <div class="row  margin-right-left-0 margin-bottom-10">
                <div class="col-xs-12 col-sm-12 padding-0">
                    <div class="row padding-10">
                        <div class="col-xs-3 col-sm-3 text-center padding-top-30">
                            <img src="assets/images/placeholder-<%= hcp.gender == 'male' ? 'male' : 'female' %>.png" style="height: 70px;">
                        </div>
                        <div class="col-xs-9 col-sm-9">
                            <p> <b> <%= hcp.firstName %></b> <span><%= hcp.firstNlastname %></span></p>
                            <p> <%= hcp.address %></p>
                            <div class="action-link-list">
                                <a class="navigate-to-native fg-navy action-link" data-account-id="" data-type="view">
                                    <i class="fa padding-10 box-shadow-all-white fa-external-link" aria-hidden="true"></i>
                                     View Account
                                </a>
                                <a class="navigate-to-native fg-navy action-link" data-account-id="" data-type="call">
                                    <i class="fa padding-10 box-shadow-all-white fa-calendar-plus-o " aria-hidden="true"></i>
                                    Record a Call
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> 

            <div class="ratings-component">
                <div class="row margin-right-left-0">
                    <div class="col-xs-4 padding-bottom-10">
                        <span class="label navy-theme label-lg full-width">Academic</span>
                    </div>
                    <div class="col-xs-5 padding-top-5 fg-gold">
                        <% if (hcp.metric.academic.rating >= 1) { %> 
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.academic.rating >= 2) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.academic.rating >= 3) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.academic.rating >= 4) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.academic.rating >= 5) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } %>
                    </div>
                    <div class="col-xs-3">
                        <div class="percentage-section">
                            <span> <%= hcp.metric.academic.percentage %> </span> 
                            <i class="fa fa-percent" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="row margin-right-left-0">
                    <div class="col-xs-4 padding-bottom-10">
                        <span class="label navy-theme label-lg full-width">Internet</span>
                    </div>
                    <div class="col-xs-5 padding-top-5 fg-gold">
                        <% if (hcp.metric.internet.rating >= 1) { %> 
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.internet.rating >= 2) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.internet.rating >= 3) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.internet.rating >= 4) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.internet.rating >= 5) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } %>
                    </div>
                    <div class="col-xs-3">
                        <div class="percentage-section">
                            <span> <%= hcp.metric.internet.percentage %></span> 
                            <i class="fa fa-percent" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="row margin-right-left-0">
                    <div class="col-xs-4 padding-bottom-10">
                        <span class="label navy-theme label-lg full-width">Society</span>
                    </div>
                    <div class="col-xs-5 padding-top-5 fg-gold">
                        <% if (hcp.metric.society.rating >= 1) { %> 
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.society.rating >= 2) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.society.rating >= 3) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.society.rating >= 4) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } if (hcp.metric.society.rating >= 5) { %>
                            <i class="fa fa-2x padding-left-5 fa-star" aria-hidden="true"></i>
                        <% } else { %>
                            <i class="fa fa-2x padding-left-5 fa-star-o" aria-hidden="true"></i>
                        <% } %>
                    </div>
                    <div class="col-xs-3">
                        <div class="percentage-section">
                            <span> <%= hcp.metric.society.percentage %> </span> 
                            <i class="fa fa-percent" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapse-panel-heading collapsed fa-right" data-toggle="modal" data-target="#popup-modal" href="#">
                                <span>Relationship Charts </span><span class="fa fa-chevron-right pull-right"></span></a>
                        </h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapse-panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#user5-collapseTwo"><span>Suggested Topics </span><span class="fa fa-chevron-up pull-right"></span></a>
                        </h4>
                    </div>
                    <div id="user5-collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Content for suggested topics</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapse-panel-heading collapsed"  data-toggle="collapse" data-parent="#accordion" href="#user5-collapseThree"><span>Basic information </span><span class="fa fa-chevron-up pull-right"></span></a>
                        </h4>
                    </div>
                    <div id="user5-collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Content for basic Information</p>
                            <div class="list list-hover"> 
                                <div class="line">
                                    <p><span class="fg-navy"> First Name  </span> <span class="pull-right"> <%= hcp.firstName %></span></p>
                                </div>
                                <div class="line">
                                    <p><span class="fg-navy"> Last Name  </span> <span class="pull-right"> <%= hcp.lastName %></span></p>
                                </div>
                                <div class="line">
                                    <p><span class="fg-navy"> Address  </span> <span class="pull-right"> <%= hcp.address %></span></p>
                                </div>
                                <div class="line">
                                    <p><span class="fg-navy"> Account Name  </span> <span class="pull-right"> <%= hcp.accountName %></span></p>
                                </div>
                                <div class="line">
                                    <p><span class="fg-navy"> Therapy Area  </span> <span class="pull-right"> <%= hcp.therapyArea %></span></p>
                                </div>
                                <div class="line">
                                    <p><span class="fg-navy"> Product </span> <span class="pull-right"> <%= hcp.product %></span></p>
                                </div>
                                
                                <div class="line">
                                    <p><span class="fg-navy"> Language </span> <span class="pull-right"> <%= hcp.language %></span></p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    <% }) %>
    
</div>