<div class="list list-hover">
   <% _.each(result, function(suggestion) { %>       
        <div class="line">
            <a href="#suggestion-<%= suggestion.id %>" aria-controls="suggestions" role="tab" data-toggle="tab" aria-expanded="true" class="suggestion-item" data-account-id="">
                <div class="row">
                    <div class="col-xs-2 col-sm-1">
                        <i class="fa fa-2x fg-navy fa-bell" aria-hidden="true"></i>
                    </div>
                    <div class="col-xs-10 col-sm-11">
                        <p><%= suggestion.title %></p>
                    </div>
                </div>
            </a>
        </div>
     <% }) %>
 </div>