//CSS
/*
@import "custom/variables";
@import "custom/fonts";
@import "lib/font-awesome";
@import "custom/ie-fix";
@import "lib/bootstrap";
*/

.test { 
    .test1 {
        color:#eee;
        background-color: aliceblue;
        border:2px solid #333;
        font-weight: 400;
    }
}